{% extends 'NimbleBoardBundle::layout.html.twig' %}

{% block content %}
  <h1>{% trans %}story.add{% endtrans %}</h1>
  <form action="{{ formAction }}" method="POST" id="story_form">
    <div class="form_errors">
      {{ form_errors(form.textAsA) }}
      {{ form_errors(form.textIWant) }}
      {{ form_errors(form.textFor) }}
      {{ form_errors(form.acceptance) }}
      {{ form_errors(form.complexity) }}
      {{ form_errors(form.importance) }}
      {{ form_errors(form) }}
    </div>
    <fieldset>
      <div>
        {{ form_label(form.textAsA) }}
        {{ form_widget(form.textAsA) }}
      </div>
      <div>
        {{ form_label(form.textIWant) }}
        {{ form_widget(form.textIWant) }}
      </div>
      <div>
        {{ form_label(form.textFor) }}
        {{ form_widget(form.textFor) }}
      </div>
    </fieldset>
    <fieldset>
      <div>
        {{ form_label(form.acceptance) }}
        {{ form_widget(form.acceptance) }}
      </div>
    </fieldset>
    <fieldset>
      <div>
        {{ form_label(form.complexity) }}
        {{ form_widget(form.complexity) }}
      </div>
      <div>
        {{ form_label(form.importance) }}
        {{ form_widget(form.importance) }}
      </div>
    </fieldset>
    {{ form_widget(form) }}
    <div>
      <a href="javascript:document.getElementById('story_form').submit();" class="button"><img src="{{ asset('bundles/nimbleboard/images/save.png') }}" alt="{% trans %}form.submit{% endtrans %}" /> {% trans %}form.submit{% endtrans %}</a>
      <a href="{{ path('_productBacklog', {projectId: project.id}) }}" class="button space_button"><img src="{{ asset('bundles/nimbleboard/images/cancel.png') }}" alt="{% trans %}form.cancel{% endtrans %}" /> {% trans %}form.cancel{% endtrans %}</a>
    </div>
  </form>
{% endblock %}