{% extends 'NimbleBoardBundle::layout.html.twig' %}

{% block content %}
  <h1>{% trans %}Product.backlog{% endtrans %}</h1>
  <div class="links">
    <a class="button" href="{{ path('_projectList') }}"><img src="{{ asset('bundles/nimbleboard/images/list.png') }}" alt="{% trans %}project.list{% endtrans %}" /> {% trans %}project.list{% endtrans %}</a>
    <a class="button space_button" href="{{ path('_storyAdd', {projectId: project.id}) }}"><img src="{{ asset('bundles/nimbleboard/images/add.png') }}" alt="{% trans %}story.add{% endtrans %}" /> {% trans %}story.add{% endtrans %}</a>
    <a class="button space_button" href="{{ path('_sprintAdd', {projectId: project.id}) }}"><img src="{{ asset('bundles/nimbleboard/images/add.png') }}" alt="{% trans %}sprint.add{% endtrans %}" /> {% trans %}sprint.add{% endtrans %}</a>
    <a class="button space_button" href="{{ path('_sprintList', {projectId: project.id}) }}"><img src="{{ asset('bundles/nimbleboard/images/list.png') }}" alt="{% trans %}sprint.list{% endtrans %}" /> {% trans %}sprint.list{% endtrans %}</a>
  </div>
  {% if globalComplexity != 0 %}
    <div class="product_backlog_complexity">
      {% trans %}productBacklog.globalComplexity{% endtrans %} : {{ globalComplexity }}
    </div>
  {% endif %}
  <div class="product_backlog ui-widget-content" style="min-height: {{ minheight }}px;">
    {% for story in stories %}
      {% include 'NimbleBoardBundle:Story:detail.html.twig' with {'useposition': true, 'story': story} %}
    {% endfor %}
  </div>
  <script type="text/javascript">
    var minheight = {{ minheight }};
    var setCoordinatesUrl = '{{ path('_storySetCoordinates') }}';
  </script>
{% endblock %}