{% extends 'NimbleBoardBundle::layout.html.twig' %}

{% block content %}
  <h1>{% trans %}Product.backlog{% endtrans %}</h1>
  <div class="links">
    <a class="button" href="{{ path('_storyAdd') }}"><img src="{{ asset('bundles/nimbleboard/images/add.png') }}" alt="{% trans %}story.add{% endtrans %}" /> {% trans %}story.add{% endtrans %}</a>
  </div>
  <div class="product_backlog">
    {% for story in stories %}
      <div class="story">
        <p class="text">
          {% trans %}story.asa{% endtrans %} {{ story.textAsA }}<br />
          {% trans %}story.iwant{% endtrans %} {{ story.textIWant }}<br />
          {% trans %}story.for{% endtrans %} {{ story.textFor }}
        </p>
        <p class="acceptance">
          {% trans %}story.acceptance{% endtrans %} : {{ story.acceptance }}
        </p>
        <span class="complexity">{% trans %}story.complexity{% endtrans %} : {{ story.complexity }}</span>
        <span class="importance">{% trans %}story.importance{% endtrans %} : {{ story.importance }}</span><br />
        <a class="button edit_story" href="{{ path('_storyEdit', {id: story.id}) }}"><img src="{{ asset('bundles/nimbleboard/images/edit.png') }}" alt="{% trans %}edit{% endtrans %}" /> {% trans %}edit{% endtrans %}</a>
        <a class="button delete_story space_button" href="{{ path('_storyDelete', {id: story.id}) }}"><img src="{{ asset('bundles/nimbleboard/images/delete.png') }}" alt="{% trans %}delete{% endtrans %}" /> {% trans %}delete{% endtrans %}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}